
.wrapper{
    background-image:url('../../assets/hotel1.jpg');
    background-position:center;
    background-size: cover;

    width: 100%;
    height: 100vh;
  
}
.booking-form-box {
   
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
    margin-top: 80px;
}
.radio-btn{
    margin: 0 20px;
}
.radio-btn .btn::after {
    margin: 20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn .btn {
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn .btn:checked::after{
    content: '';
    background-color: #000;
    transition: 0.5s;
}
.radio-btn span {
    color: #fff;
    margin-right: 5px;
    font-size: 10px;

}
.booking-form{
    padding:  0 20px 20px;

}
.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff
}
input::placeholder{
    color: #fff !important;
}
.input-grp {
    width: 151px;
    display: inline-block;
}
.form-control {
    font-size: 12px !important;
    border-radius: 0!important;
    color: #fff!important;
    background: transparent!important;
    box-shadow: none!important;

}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}
.select-date::-webkit-calender-picker-indicator{
    background: transparent!important;
}
.custom-select{
    color: #fff!important;
    font-size: 12px!important;
    border: 1px solid #ced4da!important;
    box-shadow: none!important;
    border-radius: 0!important;
    background: transparent!important;
}
.custom-select option{
    color: #333;
}
.flight{
    width: 100%!important;
    padding: 2px!important;
    font-size: 12px!important;
    border: 1px solid #ced4da!important;
    background: transparent!important;
    box-shadow: none!important;
    border-radius: 0!important;
}
.flight:hover{
    background: #fff!important; 
    color: #000!important;
    transition: 0.5s;
}
