    <div class="wrapper">

      <div class="container">
          <div class="row p-3 col-md-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/standard single room kitchen.jpg"  class="card-img-top" alt="...">
                <img src="../../assets/Standard single room bathroom.jpg"  class="card-img-top" alt="...">
                
                <div class="card-body">
                  <p class="card-text">Standard Single Room.</p>
                  <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
                  <div><p>R1000</p></div>
                </div>
              </div>

                <div class="card" style="width: 18rem;">
                    <img src="../../assets/standard double room kitchen.jpg" class="card-img-top" alt="...">
              <img src="../../assets/standard double room bathroom.jpg" class="card-img-top" alt="...">

                <div class="card-body">
                  <p class="card-text">Standard Double Room.</p>
                  <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
                  <div><p>R1000</p></div>
                </div>
              </div>

            
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/family room kitchen.jpg" class="card-img-top" alt="...">
                    <img src="../../assets/family room bathroom.jpg" class="card-img-top" alt="...">
              
                    <div class="card-body">
                      <p class="card-text">Family Room.</p>
                      <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
                      <div><p>R1000</p></div>
                    </div>
                  </div>
          </div>


          <div class="row p-3 col-md-12">
              <div class="card" style="width: 18rem;">
                  <img src="../../assets/superior single room kitchen.jpg" class="card-img-top" alt="...">
                  <img src="../../assets/superior single room bathroom.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Superior Single Room.</p>
                    <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
                    <div><p>R1000</p></div>
                  </div>
                </div>
    
              <div class="card" style="width: 18rem;">
                  <img src="../../assets/superior double room kitchen.jpg" class="card-img-top" alt="...">
                  <img src="../../assets/superior double room bathroom.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Superior Double Room.</p>
                    <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
                    <div><p>R1000</p></div>
                  </div>
                </div>
    
              
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/VIP room kitchen.jpg" class="card-img-top" alt="...">
                    <img src="../../assets/VIP room Bathroom.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">VIP Room.</p>
                      <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button><br>
                      <p>R1000</p>
                    </div>
                  </div>
        </div>
    </div>




  <!-- <div class="card-columns">
    <div class="card">

      <img src="../../assets/standard single room kitchen.jpg"  class="card-img-top" alt="...">
      <img src="../../assets/Standard single room bathroom.jpg"  class="card-img-top" alt="...">

      <div class="card-body">

        <h5 class="card-title">Standard Single Room</h5>
        <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
      </div>
    </div>


    <div class="card">

      <img src="../../assets/superior single room kitchen.jpg" class="card-img-top" alt="...">
      <img src="../../assets/superior single room bathroom.jpg" class="card-img-top" alt="...">

      <div class="card-body">

        <h5 class="card-title">Superior Single Room</h5>
        <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
      </div>
    </div>



    <div class="card">

      <img src="../../assets/standard double room kitchen.jpg" class="card-img-top" alt="...">
      <img src="../../assets/standard double room bathroom.jpg" class="card-img-top" alt="...">

      <div class="card-body">

        <h5 class="card-title">Standard Double Room</h5>
        <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
      </div>
    </div>



    <div class="card">

      <img src="../../assets/superior double room kitchen.jpg" class="card-img-top" alt="...">
      <img src="../../assets/superior double room bathroom.jpg" class="card-img-top" alt="...">

      <div class="card-body">

        <h5 class="card-title">Superior Double Room</h5>
        <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
      </div>
    </div>


    <div class="card">

      <img src="../../assets/family room kitchen.jpg" class="card-img-top" alt="...">
      <img src="../../assets/family room bathroom.jpg" class="card-img-top" alt="...">

      <div class="card-body">

        <h5 class="card-title">Family Room</h5>
        <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
      </div>
    </div>


    <div class="card">

      <img src="../../assets/VIP room kitchen.jpg" class="card-img-top" alt="...">
      <img src="../../assets/VIP room Bathroom.jpg" class="card-img-top" alt="...">

      <div class="card-body">
        
        <h5 class="card-title">VIP Room</h5>
        <button type="button" class="btn btn-outline-danger"><a href="book">Book Now</a></button>
      </div>
    </div>




  </div> -->
  </div>