<div class="wrapper">


    <!-- <nav>
        
        <ul class="nav-links">
          <li>
            <a href="logo">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href=book>Booking</a>
          </li>
          <li>
            <a href="contact">Contact Us</a>
          </li>
            
            
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        
        </nav>
         -->




      <div class="container"> 
          <div class="row p-3 col-md-12">
      <div class="card" style="width: 20rem;">
        <img src="../../assets/Standard single room.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Standard Single Room</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="list" class="btn btn-primary">View More</a>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
          <img src="../../assets/Standard double room.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Standard Double Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="list" class="btn btn-primary">View More</a>
          </div>
  
          
        </div>

        <div class="card" style="width: 20rem;">
            <img src="../../assets/Family room.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Family Room</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="list" class="btn btn-primary">View More</a>
            </div>
    
            
          </div>
    </div>

    
    </div>

    <div class="container"> 
        <div class="row p-3 col-md-12">
    <div class="card" style="width: 20rem; margin-top: 150px;">
      <img src="../../assets/Superior single room.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Superior Single Room</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="list" class="btn btn-primary">View More</a>
      </div>
    </div>

  
        <div class="card" style="width: 20rem; margin-top: 150px;">
          <img src="../../assets/Superior double room.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Superior Double Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="list" class="btn btn-primary">View More</a>
          </div>
        </div>

        
            <div class="card" style="width: 20rem; margin-top: 150px;">
              <img src="../../assets/VIP room.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">VIP Room</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="list" class="btn btn-primary">View More</a>
              </div>
            </div>
        </div>
    </div>

  </div>    